body {
    background-color: #1e1e1e;
}

header, footer {
    background-color: #ffffff;
    height: 80px;
    max-width: 1440px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

footer a {
    color: #000000;
}