@font-face {font-family: "Jacksilver"; src: url("https://db.onlinewebfonts.com/t/6af43f92e90ba331700cd679780ffeab.svg#Jacksilver")format("svg");}

footer {
    background-color: #ffffff;
    height: fit-content;
    max-width: 1440px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

footer a {
    color: #000000;
}